<% if signed_in? %>
      <section>
       <h1>Users</h1>
     </section>

<div class="container-fluid">
  </div>

    
   <% @users.each do |user| %>
        <div class="col-sm-3 grid-user-list">
          <div class="panel panel-default">
            <div class="panel-body">
               <div class="img pull-left col-lg-6"><%= link_to image_tag(user.avatar.url(:thumb)),user_path(user.id)%></div>
                  <div class="col-lg-6 pull-left nomargin" style="padding: 0px;">
                      <div class="text"><%= user.username %></div>
                          <div class="actions"> 
                              <% if current_user.friend_approved(user.id) %>
                                 <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-converzation","data-sid" => current_user.id, "data-rip" => user.id %>

                              <% end %>

                             <% if !current_user.pending_friends.include?(user) && !current_user.active_friends.include?(user) && !current_user.passive_friends.include?(user)%>
                              <%= link_to "ADD Friend",friendships_path(:friend_id => user),:method => :post, class: "btn btn-success btn-xs start-converzation" %>

                             <%end%>
                                
                          </div><!--action-->
                      </div>
                  </div><!--/col-->        
            </div><!--/panel-body-->
          </div><!--/panel-->   
 </div><!--/grid user--> 

  
   <%end%>
<%else%>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/intro_page' %>
      </section>
  </div>

<% end %>