<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>
 
    <h1><%= @reciever.username %> </h1>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @converzation.id %> &nbsp; &nbsp;   
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @converzation.id %> 
 
 </div>
  <br clear="all"/>
</div>
 </div>
<div class="chatboxcontent">
  <% if @massages.any? %>
      <%= render @massages %>
  <% end %>
</div>
<div class="chatboxinput">
  <%= form_for([@converzation, @massage], :remote => true, :html => {id: "converzation_form_#{@converzation.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @converzation.id %>
  <% end %>
</div>
<%= subscribe_to converzation_path(@converzation) %>