<div class="user-box">
<%= image_tag post.user.avatar.url(:thumb), class: 'profile_post' %>
<%= link_to post.user.username, post.user %>
</div>
  <%= post.content %>
</p>
<%= image_tag post.avatar.url if post.avatar.exists? %>
    <div class="<%= post.class %>-<%= post.id %>">

<%= link_to pluralize(post.comments.count, 'comment'), post, class: 'comments' %>

</div>